<div id="enquire-today" class="big-header-contact">
<section class="container news">
<div id="contact-us" class="row">
<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2> <strong>Contact Info </strong></h2>
<ul>
<li>Ask for Ann Trueman: 028 90 941620</li>
<li><a href="mailto:ann@thefoundrybelfast.com">ann@thefoundrybelfast.com</a> </li>
</ul>
</div>

<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2> <strong>Train Station</strong></h2>
<ul>
<li>Right beside Titanic train station</li>
<li>For train times, <a href="http://journeyplanner.translink.co.uk">vist translink.co.uk</a></li>
</ul>
</div>
<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2><strong>Belfast</strong></h2>
<ul>
<li>Located at the edge of the City Center</li>
<li> For a <a href="https://www.google.co.uk/maps/place/East+Belfast+Enterprise/@54.600188,-5.908469,17z/data=!3m1!4b1!4m2!3m1!1s0x4861090a7289b421:0x87f5af192c129f52">full sized map</a></li> 
</ul>
</div>

<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2><strong>City East</strong></h2>
<ul>
<li>City East Business Centre </li>
<li> 68-72 Newtownards Road , BT4 1GW</li> 
</ul>
</div>
<div id="contact" class="col-lg-6 col-6 col-sm-12">
<div id="map-container"> </div>
</div>

<div id="contact" class="col-lg-6 col-6 col-sm-12 wow fadeInUp ">
<div id="wufoo-m1y8212d09ozci1" class="quick-message">
Fill out my <a href="https://thefoundrybelfast.wufoo.com/forms/m1y8212d09ozci1">online form</a>.
</div>

<div id="wuf-adv"  style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.</div>
<script type="text/javascript">var m1y8212d09ozci1;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'thefoundrybelfast',
'formHash':'m1y8212d09ozci1',
'autoResize':true,
'height':'515',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { m1y8212d09ozci1 = new WufooForm();m1y8212d09ozci1.initialize(options);m1y8212d09ozci1.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

<!--
<form class="quick-message" action="////formspree.io/ann@thefoundrybelfast.com" method="POST"> 
<h2>Send The Foundry a quick </h2> 
<input type="hidden" name="_subject" value="A new website message" />
<label for="name">Tell us your name</label> <br>
<input class="interests" type="text" placeholder="Name" name="name">  <br>
<label for="From">Tell us your email address</label> <br>
<input class="info rsvp-email" type="email" placeholder="name@email.com" name="From"> <br>
<label for="message">Interested in CoWorking?</label> <br>
<textarea class="message" name="message" rows="5" placeholder="Your message"></textarea>
<input type="text" name="_gotcha" style="display:none" />
<input class="info info-button" type="submit" value="Send">
</form> 

-->

</div>
</div>
<div class="container insta">
<h2> Follow us on <a href="http://instagram.com/the_foundry_belfast"><i class="fa fa-instagram"></i> Instagram </a> | Like us on <a href="http://facebook.com/foundrybelfast"><i class="fa fa-facebook-official"></i> Facebook </a> </h2>

<ul class="ib" >
<li><a href="http://invisiblebuilding.com">Website by Invisible Building</a></li>
</ul>

</div>
</section>



<div id="push"></div>
</div>