<div id="enquire-today" class="big-header-contact">
<section class="container news">
<div id="contact-us" class="row">
<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2> <strong>Contact Info </strong></h2>
<ul>
<li>02890 942010 / Ann - 028 90 941612 </li>
<li>Ann Trueman <a href="mailto:ann@thefoundrybelfast.com">ann@thefoundrybelfast.com</a> </li>
</ul>
</div>

<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2> <strong>Train Station</strong></h2>
<ul>
<li>Accross the road from the Titanic Train</li>
<li>For train times, <a href="http://journeyplanner.translink.co.uk">vist translink.co.uk</a></li>
</ul>
</div>
<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2><strong>City East</strong></h2>
<ul>
<li>We are located at the edge of the City Center</li>
<li> 68-72 Newtownards Road , BT4 1GW</li> 
</ul>
</div>

<div id="contact" class="col-lg-3 col-6 col-sm-12">
<h2><strong>Belfast</strong></h2>
<ul>
<li>City East Business Centre </li>
<li> 68-72 Newtownards Road , BT4 1GW</li> 
</ul>
</div>
<div id="contact" class="col-lg-6 col-6 col-sm-12">
<div id="map-container"> </div>
</div>
<div id="contact" class="col-lg-6 col-6 col-sm-12 wow fadeInUp">

</div>
</div>
<div class="container insta">
<h2> Follow us on <a href="http://instagram.com/the_foundry_belfast"><i class="fa fa-instagram"></i> Instagram </a> | Like us on <a href="facebook.com/foundrybelfast"><i class="fa fa-facebook-official"></i> Facebook </a> </h2>

<ul class="ib" >
<li><a href="http://invisiblebuilding.com">Website by Invisible Building</a></li>
</ul>

</div>
</section>



<div id="push"></div>
</div>