<header>
<div class="container clearfix">
<h1 class="big-logo wow fadeInUp"  id="logo"> </h1>
<nav class="navbar navbar-tabbed  navbar-fixed-top container" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar top-bar"></span>
<span class="icon-bar middle-bar"></span>
<span class="icon-bar bottom-bar"></span>
</button>
<a class="navbar-brand" href="#"><img alt="The Foundry" height="100%" src="imgs/the-foundry-logo-home.png"></a>
</div>
	
<div class="collapse navbar-collapse" id="navbar">
<ul class="nav nav-pills ">
<li id="off-mobile" class="top-left"><a data-toggle="collapse" data-target="#navbar" class="" href="#about-the-foundry">About Us</a></li>
<li id="off"><a data-toggle="collapse" data-target="#navbar" href="#what-we-offer">What we offer</a></li>
<li id="off" ><a data-toggle="collapse" data-target="#navbar">Latest News</a></li>
<li><a data-toggle="collapse" data-target="#navbar" class="" href="#membership">Membership</a></li>
<li><a data-toggle="collapse" data-target="#navbar" class="" href="#mentoring">Mentoring</a></li>
<li class="contact" ><a data-toggle="collapse" data-target="#navbar" class="" href="#enquire-today"> <i class="fa fa-envelope"></i> Enquire Today</a></li>
<li class="top-left" ><a data-toggle="collapse" data-target="#navbar" class="cal" href="#events"><i class="fa fa-calendar"></i> Events</a></li>
<li class="contact"><a data-toggle="collapse" data-target="#navbar" href="#contact-us"> <i class="fa fa-comments"></i> Contact Us</a></li>
<li class="socialnavbar" ><a data-toggle="collapse" data-target="#navbar" class="wow tada" target="_blank" href="https://instagram.com/the_foundry_belfast/"><i class="fa fa-instagram"></i></a></li>
<li class="socialnavbar"><a data-toggle="collapse" data-target="#navbar" class="wow tada" target="_blank" href="http://facebook.com/foundrybelfast"> <i class="fa fa-facebook"></i></a></li>
</ul>
</div>
</nav>

</header>

<div class="top-bg"></div>

<a href="#about-the-foundry" class="aarow"> </a>