{% comment %}
Renders the mailchimp subscription form.
{% endcomment %}

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//invisiblebuilding.us6.list-manage.com/subscribe/post?u=0f7fd01bd4c468ce286724ae0&amp;id=1a1300df28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" role="form" novalidate="novalidate">
<p><strong>Free Membership, (Join our Mailing List)</strong></p>
<div class="form-group">

	<label class="sr-only"   for="mce-FNAME">First Name </label>
	<input class="form-control"  type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">

<br>
<br>
	<label class="sr-only" for="mce-LNAME">Last Name </label>
	<input class="form-control"  type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name" >

<br>
<br>
<label class="sr-only" for="mce-EMAIL">Email</label>
<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="your@email.com">
<button type="submit" class="btn btn-default" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
</div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>
</form>
</div>
<script type="text/javascript" src="/js/mailchimp.js"></script>
<!--End mc_embed_signup-->
