<div id="membership" class="big-header-membership">
<br>
<div class="container">
<section class="gold-bronze">

<h2 class="bump"> Membership </h2>
<div class="row">
<div class="col-sm-4 col-md-4">
<div class="thumbnail wow slideInLeft">
<div class="caption">
<span class="intro-offer">Intro Offer</span>
<h3>Full Time</h3>
<ul>
<li><strong class="score-out">£169 plus VAT</strong> </li>
<li><strong>£150 plus VAT</strong></li>
<li><strong>24/7 access</strong></li>
<li>Registered address &amp; mailbox</li>
<li>12 Hours Meeting Room Use</li>
<li>Unlimited use of desk 24/7</li>
<li>Wifi / Broadband Infinity</li>
<li>1 hour per week  facilitated Peer  Mentoring Session</li>
<li>Use of colour copier/printer/scanner with  pre‐paid card.</li>
<li>Free Tea and Coffee</li>
<li>Priority Tickets for EBE Events</li>
</ul>
</div>
</div>
</div>
<div class="col-sm-4 col-md-4">
<div class="thumbnail wow bounce">
<div class="caption">
<h3>Part Time </h3>
<ul>
<li><strong>£99 plus VAT</strong></li> 
<li><strong>50 hours usage per month Office hours</strong></li>
<li>1 hour per week facilitated Peer Mentoring Session</li>
<li>4x Hours Free Meeting Room Use </li>
<li>Use of colour copier/printer/scanner with a pre‐paid card</li>
<li>Free Tea &amp; Coffee</li>
<li>Priority Tickets for EBE Events</li>
</ul>        
</div>
</div>
</div>
<div class="col-sm-4 col-md-4">
<div class="thumbnail wow slideInRight">
<div class="caption">
<h3>Day Rate</h3>
<p><strong>£5 per hour drop in</strong></p> 
<p><strong>£25 Daily rate</strong></p>
</div>
</div>
<div class="thumbnail wow slideInRight">
<div class="caption">
<h3>Off Peak </h3>
<ul>
<li><strong>£99 plus VAT</strong></li> 
<li><strong>50 hours usage per month</strong></li>
<li>5pm evenings, 24/7 weekends</li>
</ul>
</div>
</div>
</div>
<div class="col-sm-8 col-md-8 lower wow swing">
<h3>Furnished Office Rental - £250 plus VAT </h3>
<ul>
<li>Registered address &amp; mailbox]</li>
<li>12 Hours metting room usage</li>
<li>1hr per week facilitated peer mentoring</li>
<li>Use of colour copier/printer/scanner with pre‐paid card.</li>
<li>Free T&amp;C, priority tickets.</li>
</ul>
</div>
</div>
