<div class="row">
<div class="col-sm-12 col-md-12">

<div class="big-header-membership">
<section class="mentoring">
<h2 id="mentoring" class="bump" >Mentoring</h2>
<div class="row">
<div class="col-sm-12 col-md-12">
<div class="wow slideInLeft">
<p>As with everything in life, having the right people around you can make a fundamental 
difference to the success or failure of what you do. At The Foundry we provide our companies 
with regular access to mentors who have been there and done it, offering up one on one 
personal business mentoring to all our tenant companies and if we don’t have a mentor on our 
list that fits your needs.</p>
<div class="virtual-office">
<h2>Virtual Office </h2>
<p>Registered Office Address, use of mailbox to collect correspondence post (Letters only) £25 per month.</p>
<p>This service also provides access to additional services such as meeting rooms, mentoring 
services, workshops and seminars, please enquire for prices.</p>
</div>
</div>
</div>
</div>
</section>
</div>


</section>
</div>
</div>