<title>The Foundry Belfast</title>
<meta name=”description” content=”The Foundry is a Coworking space established by East Belfast Enterprise built with start ups, entrepreneurs and small businesses in Northern Ireland.”>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Invisible Building" />
<meta name="copyright" content="&copy;" />
 <link rel=”author” href=”https://plus.google.com/101782828289326491399“/>
 <meta property=”og:title” content=”The Foundry Belfast”/>
 <meta property=”og:type” content="website"/>
 <meta property=”og:image” content=”http://thefoundrybelfast.com/imgs/the-foundry.jpg”/>
 <meta property=”og:url” content=”http://thefoundrybelfast.com/”/>
 <meta name=”twitter:card” content=”The Foundry Belfast”>
 <meta name=”twitter:url” content=”http://thefoundrybelfast.com”>
 <meta name=”twitter:title” content=”The Foundry is a Coworking space established by East Belfast Enterprise built with start ups, entrepreneurs and small businesses in Northern Ireland.”>
 <meta name=”twitter:image” content=”http://thefoundrybelfast.com/imgs/twitter-the-foundry.jpg”>
 
 
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="The Foundry Belfast">
<meta itemprop="description" content="The Foundry is a Coworking space established by East Belfast Enterprise built with start ups, entrepreneurs and small businesses in Northern Ireland.">
<meta itemprop="image" content="http://thefoundrybelfast.com/imgs/the-foundry.jpg">
 
<!-- Twitter Card data -->
<meta name="twitter:card" content="Coworking In Belfast">
<meta name="twitter:site" content="@teamfoundry">
<meta name="twitter:title" content="The Foundry Belfast">
<meta name="twitter:description" content="The Foundry is a Coworking space established by East Belfast Enterprise built with start ups, entrepreneurs and small businesses in Northern Ireland.">
<meta name="twitter:creator" content="@teamfoundry">
<meta name="twitter:image" content="http://thefoundrybelfast.com/imgs/twitter-the-foundry.jpg">
 
<!-- Open Graph data -->
<meta property="og:title" content="The Foundry Belfast" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.thefoundrybelfast.com/" />
<meta property="og:image" content="http://thefoundrybelfast.com/imgs/twitter-the-foundry.jpg" />
<meta property="og:description" content="The Foundry is a Coworking space established by East Belfast Enterprise built with start ups, entrepreneurs and small businesses in Northern Ireland." />
