<div id="enquire-today" class="big-header-desk">
<div class="container">



<div class="wow fadeInUp middle-form"  id="wufoo-z1xi5edz0jv90mz">
Fill out my <a href="https://thefoundrybelfast.wufoo.com/forms/z1xi5edz0jv90mz">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var z1xi5edz0jv90mz;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'thefoundrybelfast',
'formHash':'z1xi5edz0jv90mz',
'autoResize':true,
'height':'401',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1xi5edz0jv90mz = new WufooForm();z1xi5edz0jv90mz.initialize(options);z1xi5edz0jv90mz.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


  <ul class="posts">
  <h3>Read our latest news post</h3>
    {% for post in site.posts %}
      <li><a href="{{ post.url }}"><span>{{ post.date | date_to_string }}</span> &raquo; {{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>
</div>